<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ecemyilmaz/Desktop/RestAssured_/src/test/java/steps">
        <classes>
            <class name="steps.BaseStepDefs"></class>
            <class name="steps.CREATEUsers"></class>
            <class name="features"></class>
            <class name="steps.UPDATEUsers"></class>
        </classes>
    </test>
</suite>